* {
    margin: 0;
    padding: 0;
}
/* body {
    background-color: #f3f;
} */
.fa-times-circle{
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-left: 96%;
}
h1,h3,h4,h5,h6,a,p {
    font-family: 'Montserrat';
}
a {
    color: #fff;
    text-transform: uppercase;
}
a:hover{
    color: #548BC7;
}
.turnon {
    color: #528983;
    font-size: 19px;
}
h1{
    font-size: 125px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -14px;
    text-align: left;
}
h1 .green {
    color: #2D726A;
}
h2{
    width: 50%;
    font-size: 60px;
    font-weight: 700;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, #AF8CDD, #72D2E3);
    letter-spacing: -6px;
    text-shadow: #beaadaca 0 0 10px;
}
h3{
    width: 70%;
    height: 200px;
    font-size: 110px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -15px;
    background-color: #0F1C47;
    display: flex;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    text-shadow: #beaadaca 0 0 10px;
}
h3 span {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, #AF8CDD, #72D2E3);
    width: 100%;
    margin: auto;
}
h4{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
h5 {
    border: 3px solid #fff;
    padding: 15px;
    color: #ffffff;
}
h6 { 
    margin-top: 20px;
}
h6:hover {
    display: block;
}
p{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
.citate {
    width: 75%;
    height: 340px;
    background-color: #0F1C47;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    box-shadow: -10px 10px 10px rgba(0,0,0,0.5);
}
section {
    max-width: 1920px;
    margin: auto;
    text-align: center;
    background-color: #22245C;
    padding-bottom: 50px;
}
header {
    max-width: 1920px;
}
header .navbar {
    width: 100%;
    height: 90px;
    background-color: transparent;
    z-index: 99;
}
header .navbar .navbar-brand {
    font-family: 'Monoton', cursive;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -14px;
    width: 60px;
}
.header .slider{
    position: relative;
    height: 750px;
    padding-top: 90px;
}
.header .slider .buttons div {
    color: #fff;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 45%;
}
.header .slider .btn-prev {
    left: 5px;
}
.header .slider .btn-next {
    right: 0;
}
.header .slider .slider-item {
    display: none;
    width: 1200px;
    height: auto;
    margin: auto;
}
.header .slider .slider-item.active {
    display: block;
    flex-direction: column;
} 
.header .slider .slider-item p {
    text-align: right;
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 50px;
}
.header .slider .slider-item .img {
    display: flex;
    justify-content: space-around;
    height: auto;
    margin-bottom: 50px;
}
.header .slider .slider-item .img .text {
    display: flex;
    flex-direction: column;
}
.header .slider .slider-item .img .text p {
    font-size: 30px;
    text-align-last: left;
}
.header .slider .slider-item .img .text button {
    width: 270px;
    height: 100px;
    color: #fff;
    background-color: #AA2D35;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    margin-left: auto;
}
.header .slider .navigation{
    position: absolute;
    display: flex;
    bottom: -20px;
    left: 45%;
}
.header .slider .navigation .dot{
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: #fff;
    border-radius: 50%;
}
.header .slider .navigation .dot.active{
    background-color: #E2AD24;
}
.ws .cont{
    max-width: 1100px;
    position: relative;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ws .cont .prog{
    width: 350px;
    height: 400px;
    background-color: #0F1C47;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.7);
    margin-top: 50px;
}
.ws .cont .prog.smm{
    margin-bottom: 50px;
}
.ws .cont .prog .circle{
    position: relative;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    cursor: default;
}
.ws .cont .prog .circle .box,
.ws .cont .prog .circle .box span{
    position: absolute;
    top: 50%;
    left: 50%;
}
.ws .cont .prog .circle .box{
    height: 100%;
    width: 100%;
    font-size: 50px;
    color: #fff;
    background: transparent;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.2s;
}
.ws .cont .prog .circle:hover .box{
    transform: translate(-50%, -50%) scale(0.91);
}
.ws .cont .prog .circle .box span,
.ws .cont .prog .text{
    color: white;
}
.ws .cont .prog .circle .box span{
    font-size: 60px;
    font-family: 'Montserrat';
    font-weight: 600;
    transform: translate(-45%, -45%);
    transition: all 0.1s;
}
.ws .cont .prog .circle:hover .box span{
    transform: translate(-45%, -45%) scale(1.09);
}
.ws .cont .prog .text{
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -3px;
}
.ws .cont .click {
    display: none;
    width: 80%;
    height: 500px;
    position: absolute;
    background-color: #fff;
    translate: 13% 5%;
    border-radius: 15px;
    z-index: 15;
}
.team img {
    max-width: 100%;
    margin: 25px auto;
}
.team .cards {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.team .cards .card{
    background: transparent;
    border: none;
    margin-top: 80px;
}
.team .cards .card:nth-child(n) {
    margin-right: 50px;
}
.team .cards .card .info {
    position: relative;
    width: 350px;
    height: 420px;
    background-color: #0F1C47;
    box-shadow: 10px 15px 10px rgba(0, 0, 0, .7);
}
.team .cards .card::before{
    content: "";
    width: 100px;
    height: 100px;
    background: #BC5151;
    border-radius: 50%;
    position: absolute;
    right:  -15.5%;
    top: -50px;
}
.team .cards .text {
    height: auto;
    border: 1px solid #fff;
    margin: auto 25px;
}
.team .cards .name {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about .text{
    width: 60%;
    text-align: center;
    margin: 80px auto 0;
}
.contact .lank {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 70px auto 0;
    justify-content: space-between;
    background-color: #0F1C47;
    padding: 40px 30px;
    border-radius: 15px;
}
.contact .lank form{
    width: 750px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact .lank form input {
    text-align: center;
    color: #A1A1A1;
    border: 3px solid #D8DB42;
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 10px;
}
.contact .lank form .mess {
    height: 200px;
}
.contact .lank form .togeher {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.contact .lank form .togeher .ne {
    width: 70%;
    display: flex;
    flex-direction: column;
}
.contact .lank form .togeher .ne .name {
    margin-bottom: 10px;
    height: 100px;
}
.contact .lank form .togeher .ne .comun{
    height: 100px;
}

.contact .lank form .togeher .btn {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.contact .lank form .togeher .btn button {
    max-width: 215px;
    height: 100px;
    background-color: #ADAF37;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-family: 'Montserrat';
    font-size: 25px;
    text-transform: uppercase;
}

.contact .lank .social {
    width: 45%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: 5px solid #D8DB42;
    border-radius: 15px;
    justify-content: space-around;
}
.contact .lank .social .soc-med {
    display: flex;
    justify-content: space-around;

}
.contact .lank .social .soc-med  .sm-th{
    flex-direction: column;
}
.contact .lank .social .soc-med  .sm-th img{
    width: 75px;
    height: 75px;
}
footer {
    max-width: 1920px;
    height: auto;
    background-color: #000000;
}
footer p {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    padding: 50px 0;
    margin: 0;
}
