* {
    margin: 0;
    padding: 0;
}
/* body {
    background-color: #f3f;
} */
.fa-times-circle{
    margin-left: 96%;
}
h1,h3,h4,h5,h6,a,p {
    font-family: 'Montserrat';
}
a {
    color: #fff;
    text-transform: uppercase;
}
a:hover{
    color: #548BC7;
}
.turnon {
    color: #528983;
    font-size: 23px;
}
h1{
    font-size: 105px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -14px;
    text-align: left;
}
h3{
    font-size: 105px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -15px;
}
h4{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

h6{
    font-size: 36px;
    font-weight: 700;
    margin-left: 80px;
    margin-top: 725px;
}
p{
    font-size: 36px;
    font-weight: 600;
}
section {
    max-width: 1920px;
    margin: auto;
    text-align: center;
}
header {
    max-width: 1920px;
}
header .navbar {
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, .8);
    z-index: 99;
}
header .navbar .navbar-brand {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -14px;
    width: 60px;
}
.header {
    height: 1080px;
    justify-content: space-around;
    align-items: center;
    background: url(./img/bgh\ 1920.png)no-repeat;
    background-size: contain;
}
.header .right{
    margin-top: 160px;
}
.header .right .btn {
    width: 300px;
    height: 80px;
    border-radius: 50px;
    background-color: #000000;
    margin-top: 100px;
}
.header .right .btn a{
    text-decoration: none;
    padding: 25px 50px;
}
.ws {
    height: 1080px;
    background: url(./img/bgw\ 1920.png) no-repeat;
    background-size: contain;
}
.ws .cont{
    max-width: 1300px;
    position: relative;
    margin-left: 100px;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap-reverse;
    height: 750px;
}
.ws .cont .prog{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
.ws .cont .prog .circle{
    position: relative;
    height: 280px;
    width: 280px;
    border-radius: 50%;
    cursor: default;
}
.ws .cont .prog .circle .box,
.ws .cont .prog .circle .box span{
    position: absolute;
    top: 50%;
    left: 50%;
}
.ws .cont .prog .circle .box{
    height: 100%;
    width: 100%;
    background: #548BC7;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.2s;
}
.ws .cont .prog .circle:hover .box{
    transform: translate(-50%, -50%) scale(0.91);
}
.ws .cont .prog .circle .box span,
.ws .cont .prog .text{
    background-color: #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ws .cont .prog .circle .box span{
    font-size: 38px;
    font-family: sans-serif;
    font-weight: 600;
    transform: translate(-45%, -45%);
    transition: all 0.1s;
}
.ws .cont .prog .circle:hover .box span{
    transform: translate(-45%, -45%) scale(1.09);
}
.ws .cont .prog .text{
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -3px;
}
.ws .cont .click {
    display: none;
    width: 80%;
    height: 500px;
    position: absolute;
    background-color: #fff;
    translate: 13% 5%;
    border-radius: 15px;
    z-index: 15;
}
.ws .cont .click.active {
    display: block;
}
.team {
    height: 1200px;
    background: url(./img/bgt\ 1920.png)no-repeat;
    background-size: contain;
}
.team img {
    max-width: 100%;
    margin: 23px auto;
}
.team .cards {
    margin: 0 100px;
    display: flex;
}
.team .cards .first {
    display: flex;
    flex-direction: column;
}
.team .cards .second {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.team .cards .card {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    margin: 50px;
}
.team .cards .elips {
    width: 120px;
    height: 120px;
    background-color: #BC5151;
    border-radius: 50%;
    position: absolute;
    right: -60px;
    top: -45px;
}
.team .cards .shadow {
    width: 330px;
    height: 370px;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    left: 10px;
    top: 11px;
}
.team .cards .info {
    width: 330px;
    height: 370px;
    background-color: #000000;
    z-index: 5;
}
.team .cards .info .text {
    height: 125px;
    border: 1px solid #fff;
    margin: auto 25px;
}
.team .cards .info .name {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}
.about{
    height: 1080px;
    background: url(./img/bga\ 1920.png)no-repeat;
    background-size: contain;
}
.about .text{
    text-align: left;
    margin-left: 100px;
}
.contact {
    height: 1080px;
    background: url(./img/bgс\ 1920.png) no-repeat;
    background-size: contain;
}
.contact .form{ 
    width: 760px;
    height: 800px;
    margin-left: auto;
    margin-right: 100px;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 40px; 
    padding-top: 40px;   
}
.contact .form input {
    width: 90%;
    border-radius: 50px;    
    height: 15%;
    text-align: center;
    border: none;
    margin-bottom: 20px;
}
.contact .form .big {
    height: 50%;
}
.contact .form .btn {
    width: 200px;
    height: 8%;
    margin-top: 10px;
    background-color: #000000;
    border: none;
    border-radius: 10px;
    color: #fff;
}
footer {
    background-color: #000000;
    padding-top: 25px;
    max-width: 1920px;
    margin: auto;
}
footer .text{
    flex-direction: column;
    text-align: center;
}
footer .text p{
    color: #fff;
    font-size: 30px;
}
@media (max-width:1500px) {
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 28px;
        margin-top: 75px;
    }
    h6 {
        font-size: 24px;
        margin-left: 75px;
        margin-top: 630px;
    }
    p {
        font-size: 28px;
    }
    .header{
        height: 930px;
    }
    .header .right .btn {
        margin-top: 75px;
    }
    .ws {
        height: 960px;
    }
    .ws .cont{
        height: 650px;
        margin-top: 75px;
    }
    .ws .cont .prog {
        width: 290px;
        height: 250px;
    }
    .team{
        background: url(./img/bgt\ 1440x1880.png)no-repeat;
        background-size: contain;
        height: 1180px;
    }
    .team .cards .shadow{
        width: 290px;
        height: 330px;
    }
    .team .cards .info{
        width: 290px;
        height: 330px;
    }
    .team .cards .info .text{
        height: 100px;
    }
    .contact .form{
        width: 660px;
        height: 650px;
    }
}
@media (max-width:1440px) {
    h5 {
        font-size: 30px;
        margin-top: 80px;
    }
    h6 {
        font-size: 32px;
        margin-top: 0;
        margin-left: 25%;
    }
    .header {
        height: 900px;
    }
    .header .right .btn {
        margin-top: 25px;
    }
    .ws{
        height: 900px;
        background: url(./img/bgw\ 1440.png)no-repeat;
        background-size: contain;
    }
    .ws .cont {
        display: flex;
        width: 1000px;
        margin: auto;
        margin-top: 50px;
    }
    .ws .cont .prog {
        width: 300px;
        height: 300px;
    }
    .team {
        background: url(./img/bgt\ 1440.png)no-repeat;
        background-size: contain;
    }
    .team .cards {
        flex-wrap: wrap;
    }
    .team .cards .first{
        flex-direction: row;
        margin: auto;
    }
    .team .cards .second {
        flex-direction: row;
        margin-top: 0;
        margin: auto;
    }
    .about {
        height: 940px;
    }
    .contact{
        height: 870px;
    }
    .contact .form{
        width: 540px;
        height: 620px;
        margin-top: 0;
    }
    .contact .form input{
        margin-bottom: 15px;
    }
}
@media (max-width:1366px) {
    h1 {
        font-size: 90px;
    }
    .header {
        height: 764px;
    }
}
@media (max-width:1280px) {
    .ws .cont {
        width: 850px;
        height: 550px;
        margin-top: 20px;
    }
    .ws .cont .prog {
        width: 250px;
        height: 250px;
        margin: auto;
    }
}